<div *ngIf="elementName === 'airqualitycurrent'">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ city }} - {{ country }}</h5>
      <p href="#" class="card-text">Air quality : <b>{{ airQuality }}</b></p>
      <p href="#" class="card-text">Carbon monoxyde levels : <b>{{ carbonMonoxyde }} </b></p>
    </div>
    <div class="card-footer bg-transparent border-success">
      <button class="btn btn-success" (click)="onEditWidget()" style="border-radius:24px;">
        Edit
      </button>
      <button class="btn btn-danger" (click)="onDeleteWidget()" style="border-radius:24px;">
        Delete
      </button>
    </div>
  </div>
</div>
<div *ngIf="elementName === 'airqualityforecast'">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ city }} - {{ country }}</h5>
      <p href="#" class="card-text">Air quality : <b>{{ airQuality }}</b></p>
      <p href="#" class="card-text">Carbon monoxyde levels : <b>{{ carbonMonoxyde }} </b></p>
    </div>
    <div class="card-footer bg-transparent border-success">
      <button class="btn btn-success" (click)="onEditWidget()" style="border-radius:24px;">
        Edit
      </button>
      <button class="btn btn-danger" (click)="onDeleteWidget()" style="border-radius:24px;">
        Delete
      </button>
    </div>
  </div>
</div>
