<mat-grid-list cols="3" md-gutter="1em" rowHeight="30vh">
    <mat-grid-tile
        *ngFor="let cw of cryptoWidgets"
        [colspan]="1"
        [rowspan]="1"
        class="my-grid-tile">
        <div *ngIf="cw.elementName === 'graph'">
            <div class="p-3 z-depth-2 center">
                <app-history-chart
                    [startDateTime]="cw.params.startGraph"
                    [endDateTime]="cw.params.endGrpah"
                    [crypto]="cw.params.crypto">
                </app-history-chart>
            </div>
        </div>
        <div *ngIf="cw.elementName === 'rate'">
            <div class="p-3 z-depth-2 center">
                <app-rate-exchange
                    [crypto]="cw.params.crypto"
                ></app-rate-exchange>
            </div>
        </div>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="3" md-gutter="1em" rowHeight="30vh">
    <mat-grid-tile
        *ngFor="let ww of weatherWidgets"
        [colspan]="1"
        [rowspan]="1"
        class="my-grid-tile">
        <div *ngIf="ww.elementName === 'airqualitycurrent'">
            <div class="col-md-3 col-lg-3">
              <app-current-air-quality
                [city]="ww.params.city"
                [country]="ww.params.country"
                [widgetId]="ww.widgetId"
              >
              </app-current-air-quality>
            </div>
          </div>
          <div *ngIf="ww.elementName === 'airqualityforecast'">
            <div class="col-md-3 col-lg-3">
              <app-forecast-air-quality
              [city]="ww.params.city"
              [country]="ww.params.country"
              [widgetId]="ww.widgetId"
              >
              </app-forecast-air-quality>
            </div>
          </div>
          <div *ngIf="ww.elementName === 'weatherforecast'">
            <div class="col-md-3 col-lg-3">
              <app-forecast-weather
                [city]="ww.params.city"
                [country]="ww.params.country"
                [widgetId]="ww.widgetId"
              >
              </app-forecast-weather>
            </div>
          </div>
    </mat-grid-tile>
  </mat-grid-list>