<!--
  Rajouter condition pour savoir is user is auth or not
-->

<div>
  <div class="row mt-5">
    <div class="col-md-4"></div>
    <div class="col-md-2">
      <button class="btn btn-block btn-elegant" routerLink="/login">
        <i class="fas fa-long-arrow-alt-left fa-2x" style="color:white; float:left;"></i>
        <b style="font-size: 15px;">Login</b>
      </button>
    </div>
    <div class="col-md-2">
      <button class="btn btn-block btn-elegant" routerLink="/register">
        <b style="font-size: 15px;">Register</b>
        <i class="fas fa-long-arrow-alt-right fa-2x" style="color:white; float:right;"></i>
      </button>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 mt-5">
      <router-outlet>
      </router-outlet>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
