<div class="col-lg-11 p-5 mt-4 z-depth-2">
    <h1 class="text-center ">Configure graph</h1>
      <div class="md-form mt-5">
        <input type="text" id="start" class="form-control" [owlDateTime]="dtStart" [owlDateTimeTrigger]="dtStart" [(ngModel)]="start">
        <label for="start">Graph start date time</label>
        <owl-date-time #dtStart></owl-date-time>
      </div>
      <div class="md-form my-5">
        <input type="text" id="end" class="form-control" [owlDateTime]="dtEnd" [owlDateTimeTrigger]="dtEnd" [(ngModel)]="end">
        <label for="end">Graph end date time</label>
        <owl-date-time #dtEnd></owl-date-time>
      </div>
      <button type="button" class="btn btn-primary btn-lg btn-block mt-5 mb-2" (click)="onSubmit()">Validate</button>
</div>