<div *ngFor="let cw of cryptoWidget">
  <div *ngIf="cw.elementName === 'graph'">
    <div class="col-md-3 col-lg-3">
      <app-history-chart
        [startDateTime]="cw.params.startGraph"
        [endDateTime]="cw.params.endGraph"
        [crypto]="cw.params.crypto"
      >
      </app-history-chart>
    </div>
  </div>
  <div *ngIf="cw.elementName === 'rate'">
    <div class="col-md-3 col-lg-3">
      <app-rate-exchange
        [crypto]="cw.params.crypto"
      ></app-rate-exchange>
    </div>
  </div>
</div>

<div *ngFor="let ww of weatherWidget">
  <div *ngIf="ww.elementName === 'airqualitycurrent'">
    <div class="col-md-3 col-lg-3">
      <app-current-air-quality
        [city]="ww.params.city"
        [country]="ww.params.country"
        [widgetId]="ww.widgetId"
      >
      </app-current-air-quality>
    </div>
  </div>
  <div *ngIf="ww.elementName === 'airqualityforecast'">
    <div class="col-md-3 col-lg-3">
      <app-forecast-air-quality
      [city]="ww.params.city"
      [country]="ww.params.country"
      [widgetId]="ww.widgetId"
      >
      </app-forecast-air-quality>
    </div>
  </div>
  <div *ngIf="ww.elementName != 'weatherforecast'">
    <div class="col-md-3 col-lg-3">
      <app-forecast-weather
        [city]="ww.params.city"
        [country]="ww.params.country"
        [widgetId]="ww.widgetId"
      >
      </app-forecast-weather>
    </div>
  </div>
  <!--
  <div *ngIf="ww.elementName === 'weathercurrent'">
    <div class="col-md-3 col-lg-3">

      <app-current-weather
      [city]="ww.params.city"
      [hours]="ww.params.hours"
      >
      </app-current-weather>
    </div>
  </div>

  -->
</div>
